:root {
	--myBlue: rgb(43,130,187);
	--lightBlue: rgb(0,138,230);
	--lightCyan: #E0FFFF;
	--marksgreen: rgb(40,180,0);
}

body{
	padding: 8px;
	font-weight: bold;
}

h2 {
	font-size: 23px;
	text-decoration: underline;
}

button:hover {
	background-color: rgb(211,211,211);
}


.Light {
	background-color: blanchedalmond;
	color: black;
}

	.Light a:visited {
		color: var(--lightBlue);
	}


.Blue {
	background-color: var(--myBlue);
	color: black;
}


.Tan {
	background-color: tan;
	color: black;
}

	.Tan a:visited {
	color: var(--lightBlue);
	}


.Dark {
	background: rgb(40, 40, 40) url(images/dark_embroidery.png);
	color: coral;
}

	.Dark a:link {
		color: var(--lightBlue);
	}
	
	.Dark a:visited {
		color: green;
	}

#styleSelector {
	float: right;
	width: 50%;
	border-style: solid;
	border-width: 2px;
	border-color: black;
}

	.Light #styleSelector {
		background-color: rgb(83, 178, 178);
	}
	
	.Blue #styleSelector {
		background-color: tan;
	}
	
	.Tan #styleSelector {
		background-color: rgb(170, 244, 255);
	}
	
	.Dark #styleSelector{
		background-color: rgb(135, 178, 147);
		color: black;
	}