:root {
	--myBlue: rgb(43,130,187);
	--lightBlue: rgb(0,138,230);
	--lightCyan: #E0FFFF;
	--marksgreen: rgb(40,180,0);
}

body{
	padding: 8px;
	font-weight: bold;
}

h2 {
	font-size: 23px;
	text-decoration: underline;
}

/*.White a:link {
	color: blue;
}

FOR SOME REASON ALL LINKS APPEAR TO BE ALREADY VISITED
*/

button:hover {
	background-color: rgb(211,211,211);
}

.White a:visited{
	color: green;
}

.Tan a:visited{
	color: blue;
}

.White {
	background-color: white;
	color: black;
}

.Blue {
	background-color: var(--myBlue);
	color: black;
}

.Tan {
	background-color: tan;
	color: black;
}

#styleSelector {
	border-style: solid;
	border-width: 2px;
	border-color: black;
}

.White #styleSelector {
	background-color: var(--lightBlue);
}

.Blue #styleSelector {
	background-color: tan;
}

.Tan #styleSelector {
	background-color: rbg(170, 244, 255);
}