:root {
	--my-blue: rgb(43,130,187);
	--light-blue: rgb(0,138,230);
	--light-cyan: rgb(224,255,255);
	--green-1: rgb(40,180,0);
	--grey-button: rgb(180, 180, 180);
	--less-grey-button: rgb(205, 205, 205);
	--yellow-1: rgb(230,221,147);
	--transition: all .2s linear 0s;
}

body{
	padding: 8px;
	font-weight: bold;
}

h2 {
	font-size: 23px;
	text-decoration: underline;
}

h3 {
	font-size: 19px;
}

.hide {
	display: none;
}

/*.visible {
	visibility: visible;
	display: initial;
}*/

button:hover, .Selected {
	background-color: var(--grey-button);
	border-color: var(--less-grey-button);
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);
}


.Light {
	background-color: blanchedalmond;
	color: black;
	transition: var(--transition);
}

	.Light a:visited {
		color: var(--light-blue);
	}


.Blue {
	background-color: var(--my-blue);
	color: black;
	transition: var(--transition);
}


.Tan {
	background-color: tan;
	color: black;
	transition: var(--transition);
}

	.Tan a:visited {
	color: var(--light-blue);
	}


.Dark {
	background: rgb(40, 40, 40) url(images/dark_embroidery.png);
	color: coral;
	transition: var(--transition);
}

	.Dark a:link {
		color: var(--light-blue);
	}
	
	.Dark a:visited {
		color: green;
	}
	
.LargerText {
	font-size: 18px;
	margin-bottom: 13px;
	margin-left: 10px;
}

withSquare {list-style-type:square}
withCircle {list-style-type:circle}

#styleSelector {
	float: right;
	width: 49%;
	border-style: solid;
	border-width: 2px;
	border-color: black;
}

	.Light #styleSelector, .Light #tabs {
		background-color: rgb(83, 178, 178);
	}
	
	.Blue #styleSelector, .Blue #tabs {
		background-color: tan;
	}
	
	.Tan #styleSelector, .Tan #tabs {
		background-color: rgb(170, 244, 255);
	}
	
	.Dark #styleSelector, .Dark #tabs {
		background-color: rgb(135, 178, 147);
		color: black;
	}
	
#tabs {
	width: 50%;
	border-style: solid;
	border-width: 2px;
	border-color: black;
}

#HButton, #PButton, #RButton {
	border-top-left-radius: 12px;
	border-top-right-radius: 5px;
	border-bottom-style: none;
}

/* #currentPage {
	background-color: ;
} TODO*/