:root {
	--myBlue: rgb(43,130,187);
	--lightBlue: rgb(0,138,230);
	--lightCyan: rgb(224,255,255);
	--marksgreen: rgb(40,180,0);
	--greyButton: rgb(180, 180, 180);
	--lessGreyButton: rgb(205, 205, 205);
}

body{
	padding: 8px;
	font-weight: bold;
}

h2 {
	font-size: 23px;
	text-decoration: underline;
}

.hide {
	display: none;
}

/*.visible {
	visibility: visible;
	display: initial;
}*/

button:hover, .Selected {
	background-color: var(--greyButton);
	border-color: var(--lessGreyButton);
}


.Light {
	background-color: blanchedalmond;
	color: black;
}

	.Light a:visited {
		color: var(--lightBlue);
	}


.Blue {
	background-color: var(--myBlue);
	color: black;
}


.Tan {
	background-color: tan;
	color: black;
}

	.Tan a:visited {
	color: var(--lightBlue);
	}


.Dark {
	background: rgb(40, 40, 40) url(images/dark_embroidery.png);
	color: coral;
}

	.Dark a:link {
		color: var(--lightBlue);
	}
	
	.Dark a:visited {
		color: green;
	}

#styleSelector {
	float: right;
	width: 49%;
	border-style: solid;
	border-width: 2px;
	border-color: black;
}

	.Light #styleSelector, .Light #tabs {
		background-color: rgb(83, 178, 178);
	}
	
	.Blue #styleSelector, .Blue #tabs {
		background-color: tan;
	}
	
	.Tan #styleSelector, .Tan #tabs {
		background-color: rgb(170, 244, 255);
	}
	
	.Dark #styleSelector, .Dark #tabs {
		background-color: rgb(135, 178, 147);
		color: black;
	}
	
#tabs {
	width: 50%;
	border-style: solid;
	border-width: 2px;
	border-color: black;
}

#largerText {
	font-size: 18px;
	margin-bottom: 11px;
	margin-left: 10px;
}

#HButton, #PButton, #RButton {
	border-top-left-radius: 12px;
	border-top-right-radius: 5px;
	border-bottom-style: none;
}